
<tr class= "message_overview">

  <td class="author">

    <div class="author_avatar">
      <%= gravatar_for message_overview.user, size: 20 %>
    </div>

    <!--div class="author_name">
      <%#= message_overview.user.name %>
    </div-->

  </td>


  <td class="message_title">

    <% if path_of_current_user(message_overview.treenode).nil? %>

      <%= form_for(@new_path, url: paths_path) do |p| %>
        <%= p.hidden_field :threadhead_id, value: @threadhead.id %>
        <%= p.hidden_field :treenode_id, value: message_overview.treenode.id %>
        <%= p.submit message_overview.title, class: "btn-link" %>
      <% end %>

   <% else %>
      <div class="already_read_answer">
        <%= message_overview.title%>
      </div>
   <% end %>

  </td>


  <td class="message_indicators">
    
    <%= render partial: 'messages/answers_count',
               locals: { count: message_overview.answers_count,
                         obj_id: message_overview.id } %>

    <%= render partial: 'messages/readers_count',
               locals: { count: message_overview.views_count,
                         obj_id: message_overview.id } %>
  </td>


</tr>
