
<div class="message <%= 'first_message' if message.treenode.has_threadhead_parent?%> 
                    <%= 'last_message' if !message.treenode.has_threadhead_parent? && message.treenode.id == last_treenode_read(message.threadhead).id %>"
     id="message_<%= message.id.to_s %>">
  
 
  <div class= "message_headbar" id="message_headbar_<%= message.id.to_s %>">
    <div class="message_titles" id="message_titles_<%= message.id.to_s %>">

       <div class="message_subtitles">

         <div class="message_author">

           <a href="<%=user_path(message.user)%>" title="<%=message.user.name%>">
             <div class= "author_avatar">
               <%= gravatar_for message.user, size: 24 %>
             </div>

             <div class="author_name">
                 <%= link_to truncate(message.user.name, length: 25),
                             user_path(message.user),
                             title: message.user.name %>
             </div>
           </a>

         </div>

         <% unless message.treenode.has_threadhead_parent? %>
           <div class="unread_message">
             <%= link_to 'x', path_of_current_user(message.treenode),
                               method: :delete, class: 'btn btn-danger',
                               title: 'unread' %>
           </div>
         <% end %>

         <div class="date_views_answer_subtitle"> 
           <%= render partial: 'messages/readers_count',
                      locals: { count: message.views_count,
                                obj_id: message.id } %>
           <%= render partial: 'messages/answers_count',
                      locals: { count: message.answers_count,
                                obj_id: message.id,
                                obj_type: Message.to_s } %>
           <% if signed_in? %>
             <%= render partial: 'messages/new_answers_count',
                       locals: { count: new_answers_for_current_user(message.treenode).count,
                                 obj_id: message.id } %>
           <% end %>

           <small>
             <div class="creation_time">
               <%= time_ago_in_words message.created_at %> ago...
             </div>
           </small>
         </div>

       </div>


       <div class="message_title" id="message_title_<%= message.id.to_s %>">
         <h4> <%= message.title %> </h4>
       </div>

    </div>

    <hr />

  </div>



  <div class="message_text" id="message_text_<%= message.id.to_s%>">

    <%= simple_format message.text %>

  </div>

  <% if signed_in? %>
    <% if current_user?(message.user) %>

       <div class="message_edit" id="message_edit_<%= message.id.to_s %>"
                                style="display: <%= Rails.env.test? ? 'block' : 'none'%>">

         <%= form_for message, url: message_path(message) do |m| %>
           <%= render partial: 'messages/form', locals: { m: m } %>
           <%= m.submit "Edit", class: "btn btn-primary", id: 'submit_edit' %>
         <% end %>

         <%= button_tag 'Cancel', data: { message_id: message.id.to_s },
                                class: "btn btn-danger toggle_edit" %>
       </div>

     <% end %>
  <% end %>



  <div class="message_footer" id="message_footer_<%= message.id.to_s %>">

    <%= button_tag "Reply", data: { message_id: message.id.to_s }, 
                                class: "btn toggle_form",
                                id: "toggle_form_#{message.id}"%>

    <% if signed_in? %>
      <% if current_user?(message.user) %>
        <%= button_tag "Edit", data: { message_id: message.id.to_s },
                               class: "btn toggle_edit",
                               id: "toggle_edit_#{message.id}"%>    
      <% end %>
    <% end %>

    <% unless message.treenode.children_nodes.empty? %> 
      <%= button_tag "View answers", data: { message_id: message.id.to_s },
                                   class: "btn toggle_answers",
                                   id: "toggle_answers_#{message.id}" %>
     
    <% else %>
      <%= button_tag "No answers", data: {},
                                   class: "btn toggle_answers",
                                   disabled: "disabled" %>
    <% end %>

    <div class="message_form" id="message_form_<%= message.id.to_s %>" 
                              style="display: <%= Rails.env.test? ? 'block' : 'none'%>" >

      <%= form_for(@new_message, url: messages_path) do |m| %>
        <%= render partial: 'messages/form', locals: { m: m } %>
        <%= m.hidden_field :parent_node_id, value: message.treenode.id %>
        <%= m.hidden_field :threadhead_id, value: @threadhead.id %>
        <%= m.submit "Send", class: "btn btn-primary submit_answer_button" %>
      <% end %>    

      <%= button_tag "Cancel", data: { message_id: message.id.to_s },
                             class: "btn btn-danger toggle_form" %>
    </div>

  </div>

</div>


<div class="message_answers"
     id="message_answers_<%= message.id %>"
     style="display: <%= Rails.env.test? ? 'block' : 'none'%>">


  <div class="table_scroll"
       <%= "style=height:auto;" if message.children_messages.count < 4 %> >

    <table class="table table-striped table-hover">
      <tbody>
        <%= render partial: 'messages/message_overview',
                             collection: message.children_messages.sort_by_views %>
      </tbody>
    </table>

  </div>
 
</div>






