<%= render 'shared/error_messages', object: t.object %>

<table>
  <tr>
    <td><%= t.label :private, 'Is private ?' %></td>
    <td><%= t.check_box :private %></td>

    <% @thread_tags.each do |thread_tag| %>
      <td>
        <%= t.label :thread_tag_id,
                    thread_tag.name + ' â—',
                    value: thread_tag.id,
                    class: "thread_tag",
                    id: "thread_tag_#{thread_tag.id}" %>
      </td>
      <td><%= t.radio_button :thread_tag_id, thread_tag.id, checked: true %></td>
    <% end %>
  </tr>
</table>

<p>
  <%= t.fields_for :message do |m| %>
    <%=render partial: 'messages/form', locals: { m: m } %>
  <% end %> 
</p>
