<tr class="threadhead">

    <td class="thread_tags">
      <%= render threadhead.thread_tags%>
    </td>

    <td class="thread_title">
      <%= link_to threadhead.first_message.nil? ? '[ERROR] This is the end of the world !' : truncate(threadhead.first_message.title, length: 80), threadhead_path(threadhead) %>
    </td>

    <td class="thread_author">
      <%= link_to truncate(threadhead.user.name, length: 20), user_path(threadhead.user) %>
      <%= gravatar_for threadhead.user, size: 18 %>
    </td>

    <% if signed_in? && current_user.admin? %>
      <td class="admin_links">
        <%= link_to "delete", threadhead, method: :delete, data: {confirm: "You sure ?" } %>
      </td>
    <% end %>
</tr>
