
<tr class="threadhead">

  <td class="thread_tags">
    <%= render threadhead_overview.thread_tags%>
  </td>

  <td class="thread_title">
    <%= link_to threadhead_overview.first_message.nil? ? '[ERROR] This is the end of the world !' : truncate(threadhead_overview.title, length: 80), threadhead_path(threadhead_overview) %>
  </td>


  <td class="thread_indicators">
    
    <%= render partial: 'messages/answers_count', #refaire avec total des answers
               locals: { count: threadhead_overview.answers_count } %>

    <%= render partial: 'messages/readers_count',
               locals: { count: threadhead_overview.treenode.paths.count } %>
  </td>


  <td class="thread_author">
    <%= gravatar_for threadhead_overview.user, size: 18 %>
    <%= link_to truncate(threadhead_overview.user.name, length: 15), user_path(threadhead_overview.user) %>
  </td>


  <% if signed_in? && current_user.admin? %>
    <td class="admin_links">
      <%= link_to "delete", threadhead_overview, method: :delete, data: {confirm: "You sure ?" } %>
    </td>
  <% end %>



</tr>
