
<tr class="threadhead">

  <td class="thread_tags">
    <%= render threadhead_overview.thread_tags%>
  </td>

  <td class="thread_titles">

    <div class="thread_title">

      <% if threadhead_overview.first_message.nil? %>
        <%=  '[ERROR] This is the end of the world !' %>
      <% else %>
        <%= link_to threadhead_overview.title,
                   threadhead_path(threadhead_overview),
                   class: ("visited_link" unless threadhead_overview.paths_by_user(current_user).empty?) %>
      <% end %>

    </div>

    <div class="threadhead_subtitles">

      <%= render partial: 'messages/readers_count',
                 locals: { count: threadhead_overview.views_count,
                           obj_id: threadhead_overview.id } %>

      <%= render partial: 'messages/answers_count', #refaire avec total des answers
                 locals: { count: threadhead_overview.answers_count,
                           obj_id: threadhead_overview.id,
                           obj_type: Threadhead.to_s } %>

      <% unless threadhead_overview.paths_by_user(current_user).empty? %>
        <%= render partial: 'messages/new_answers_count',
                   locals: { count: threadhead_overview.new_answers_for_user(current_user)
                                                       .count,
                            obj_id: threadhead_overview.id } %>
      <% end %>

      <div class="last_message_date">
        <small>
          Last update <%= time_ago_in_words threadhead_overview.last_message_date %> ago...
        </small>
      </div>

    </div>

  </td>


  <td class="thread_author">
    
    <a href="<%=user_path(threadhead_overview.user)%>"
                                         title="<%=threadhead_overview.user.name%>">
      <div class= "thread_author_gravatar">
        <%= gravatar_for threadhead_overview.user, size: 18 %>
      </div>
      <div class="thread_author_name">
        <%= link_to threadhead_overview.user.name, user_path(threadhead_overview.user) %>
      </div>
    </a>

  </td>


  <% if signed_in? && current_user.admin? %>
    <td class="admin_links">
      <%= link_to "delete", threadhead_overview, method: :delete, data: {confirm: "You sure ?" } %>
    </td>
  <% end %>



</tr>
