<% provide(:title, @threadhead.first_message.title) %>

<div class= "thread_body" >

  <% if signed_in? %>

    <%= render @threadhead %>

    <table>

    <% table_nodes = nodes_in_matrix(@treenodes) %>
    <% row_num = 0 %>

    <% table_nodes.each do |row| %>

      <% node_num = 0 %>

      <tr class='row'> 
        <% row.each do |node| %>

          <td>
            <% if node.nil? || !node.has_threadhead_parent? %> 

              <%# TREELINK DISPLAY %>
              <%= render partial: 'treelinks', locals: { table_nodes: table_nodes,
                                                         row_num: row_num,
                                                         node_num: node_num  } %> 
             <% end %>

            <%# TREENODE DISPLAY %>
            <% if node.nil? %>
              <div class='empty_treenode treenode' ></div>
            <% else %>
              <%= render(node) %>
            <% end %>

          </td>

          <% node_num = node_num + 1 %>

        <% end %>
      </tr>

      <% row_num = row_num + 1 %>

    <% end %> 
    </table>

  <% else %>
    
    <%= render @threadhead %>
    <%= render @threadhead.first_message %>

  <% end %>

</div>
