<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'bulby_brain_32x32.ico' %>

    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%# former position of javascipt_include_tag %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>


    <% unless controller_name == 'threadheads' && action_name == 'show' %>
      <div class="container">
    <% end %>

      <% flash.each do |key, value| %>
        <% if value.class == Array %>
          <% value.each do |v| %>
            <%= content_tag(:div, v, class: "alert alert-#{key}") %>
          <% end %>
        <% else %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>

    <% unless controller_name == 'threadheads' && action_name == 'show' %>
      </div>
    <% end %>


    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
